{% extends 'front.html.twig' %}
{% block body  %}
  <center>
    <table class="table table-striped">
{{form_start(form)  }}
      <tr>
      <td>{{ form_label(form.nomEvent)  }}</td>
      <td>{{ form_widget(form.nomEvent)  }} <span  id="span2">le nom ne contient pas des chiffres</span></td>
      </tr>
      <tr>
      <td>{{ form_label(form.adresse)  }}</td>
      <td>{{ form_widget(form.adresse)  }}<span  id="span3">l'adresse ne contient pas des chiffres</span></td>
      </tr>
      <tr>
      <td>{{ form_label(form.type)  }}</td>
      <td>{{ form_widget(form.type)  }}</td>
      </tr>
      <tr>
      <td>{{ form_label(form.prix)  }}</td>
      <td>{{ form_widget(form.prix)  }}  <span  id="span">le prix ne contient pas des lettres</span></td>
      </tr>
      <tr>
        <td>{{ form_label(form.nbPlaces)  }}</td>
        <td>{{ form_widget(form.nbPlaces)  }} <span  id="span4">le prix ne contient pas des lettres</span></td>
      </tr>
      <tr>
        <td>{{ form_label(form.description)  }}</td>
        <td>{{ form_widget(form.description)  }} </td>
      </tr>
      <tr>
        <td>{{ form_label(form.dateDebut)  }}</td>
        <td>{{ form_widget(form.dateDebut)  }}</td>
      </tr>au

      <tr>
        <td>{{ form_label(form.image)  }}</td>
        <td>{{ form_widget(form.image)  }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.dateFin)  }}</td>
        <td>{{ form_widget(form.dateFin)  }}</td>
      </tr>
      <tr>
        <td colspan="2">
      <input type="submit" id="ajouter" value="ajouter event" class="btn btn-primary" /></td>
      </tr>
  {{ form_end(form) }}
  </table>
  </center>
{% endblock   %}
{% block script %}

  <script>
    $(document).ready(function () {
$("#span").hide();
$("#span2").hide();
      $("#span3").hide();
      $("#span4").hide();

    $('#form_prix').keyup(function () {

      var x = $('#form_prix').val();
      var test2=/^[A-Za-z]+$/;
      if (test2.test(x)) {
        $('#span').show();

        $('#ajouter').prop('disabled', true);

      } else {
        $('#span').hide();
        $('#ajouter').prop('disabled', false);
      }






    });




      $('#form_nomEvent').keyup(function () {

        var nom = $('#form_nomEvent').val();
        var test=/^[A-Za-z]+$/;
        if (test.test(nom)) {


          $('#span2').hide();
          $('#ajouter').prop('disabled', false);

        } else {
          $('#span2').show();


          $('#ajouter').prop('disabled', true);
        }








      });



      $('#form_adresse').keyup(function () {

        var nom = $('#form_adresse').val();
        var test=/^[A-Za-z]+$/;
        if (test.test(nom)) {


          $('#span3').hide();
          $('#ajouter').prop('disabled', false);

        } else {
          $('#span3').show();


          $('#ajouter').prop('disabled', true);
        }








      });


      $('#form_nbPlaces').keyup(function () {

        var nom = $('#form_nbPlaces').val();
        var test=/^[A-Za-z]+$/;
        if (test.test(nom)) {


          $('#span4').hide();
          $('#ajouter').prop('disabled', false);

        } else {
          $('#span4').show();


          $('#ajouter').prop('disabled', true);
        }








      });

    })
  </script>
{% endblock   %}
