{% extends 'front.html.twig' %}
{% block body %}
    <style>
        #nav_pag{position: relative; left: 600px;bottom: 5px}
    </style>
<center>
    <td><a class="btn btn-primary" href="{{ path('ajout') }}">ajouterevent</a></td>
    <h2>les evenements</h2>

        <div class="container">
            <div class="row">
                {% for vv in evenement %}

                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="{{ asset('photos/') }}{{ vv.image }}" alt="Colorlib Template">

                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">{{vv.nomEvent}}</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">{{vv.prix}}</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="{{ path('detailevent' ,{ 'id':vv.id }) }}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

<div id="nav_pag">
    <nav  aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">{{ knp_pagination_render(evenement) }}</li>

        </ul>
    </nav>
</div>
</center>
{% endblock %}